{% extends "skeleton.html" %}
{% block title %}Web Scraper{% endblock %}

{% block header %}
    <h1>Web Scraper</h1>
    <a class="settings" href="/settings"><i class="fa-solid fa-gear"></i></a>
{% endblock %}


{% block content %}
    <form id="link_form" method="POST" action="/">
        {% csrf_token %}
            <input type="text" name="url" id="url" placeholder="enter url">
            <button class="success scrape_btn" type="submit">Scrape</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Delete</th>
                <th>ID</th>
                <th>Site</th>
                <th>URL</th>
                <th>Title</th>
                <th>Grabbed</th>
                <th>Items</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for link in data %}
                <tr>
                    <td><a href="javascript:void(0)" class="danger delete_btn" onclick="deleteConfirm('{{ link.id }}', 'Link')">Delete</a></td>
                    <td>{{link.id}}</td>
                    <td>{{link.site}}</td>
                    <td><a href="{{link.url}}" class="link_url" target="_blank">{{link.url}}</a></td>
                    <td>{{link.title}}</td>
                    <td>{{link.dateGrabbed}}</td>
                    <td><a href="/{{link.id}}" class="info item_btn">View Items</a></td>
                    <td><a href="update/{{link.url|urlencode}}" class="warning update_btn"><i class="fa-solid fa-arrows-rotate"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if data.has_previous %}
            <a class="pag_nav" href="?page={{ data.paginator.first_page_number }}"><i class="fa-solid fa-angles-left"></i></a>
            <a class="pag_nav" href="?page={{ data.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
        {% endif %}

        <span>
            Page 
            <input id="pageInput" type="text" placeholder="{{ data.number }}" onchange="changePage()">
            of {{ data.paginator.num_pages }}
        </span>

        {% if data.has_next %}
            <a class="pag_nav" href="?page={{ data.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
            <a class="pag_nav" href="?page={{ data.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
        {% endif %}
    </div>

    <a href="javascript:void(0)" class="danger delete_all" onclick="clearConfirm()">Delete All</a>

{% endblock %}
